
.first_first_container{
    /* Genre */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 26px;

    position: absolute;
    /* width: 1170px; */
    height: auto;
    left: 176px;
    top: 235px;
       /* для кнопок */
}

.first_first_container_text{

    display: flex;

    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    gap: 687px;

    width: 1170px;
    height: 40px;

    /* background: linear-gradient(90deg, #5241B3 0%, #101010 50.48%); */
    border-radius: 30px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    color: #FFF;
    font-family: "Space Grotesk";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.first_first_container_album{
    display: flex;


    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 0px;
    isolation: isolate;
    gap:24px;
    width: 100%;
    height: auto;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.first_first_container_track{
    display: flex;


    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 0px;
    isolation: isolate;
    gap:24px;
    width: 100%;
    height: auto;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.first_first_container_album {
    display: flex;

    gap: 16px;
    padding-bottom: 0px;
    max-width: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
}
/* Контейнер горизонтального скролу */
.first_first_container_track {
    display: flex;

    gap: 16px;
    padding-bottom: 0px;
    max-width: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
}

.first_first_track{
    /* Frame 26080081 */
    flex: 0 0 auto;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 12px;

    width: 210px;
    height: auto;

    flex: none;
    order: 0;
    flex-grow: 0;

}
.first_first_album{
    /* Frame 26080081 */
    flex: 0 0 auto;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 12px;

    width: 210px;
    height: auto;

    flex: none;
    order: 0;
    flex-grow: 0;

}
.track_image_home_page{

    width: 210px;
    height: 210px;
    border-radius: 30px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.album_image_home_page{

    width: 210px;
    height: 210px;
    border-radius: 30px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.track_information_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;

    width: 210px;
    height: 90px;

    flex: none;
    flex-grow: 0;
}
.album_information_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;

    width: 210px;
    height: 90px;

    flex: none;
    flex-grow: 0;
}
.track_name{
    width: 210px;
    height: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    display: block;
    align-items: center;
    text-align: center;



    color: #FFFFFF;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.album_name{
    width: 210px;
    height: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    display: block;
    align-items: center;
    text-align: center;



    color: #FFFFFF;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.track_author_home_page{
    /* Imagine Dragons */
    width: 100%;
    height: 18px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    /* identical to box height, or 100% */
    display: block;
    align-items: center;
    text-align: center;
    color: #C9D4FF;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.album_author_home_page{
    /* Imagine Dragons */
    width: 100%;
    height: 18px;

    /* identical to box height, or 100% */
    display: block;
    align-items: center;
    text-align: center;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

    color: #FFF;

    /* podpisi */
    font-family: "Space Grotesk";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.frame-548,
.frame-548 * {
  box-sizing: border-box;
}
.frame-548 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 1624px;
  width: 1528px;
  position: relative;
  height: 50px;
}
.vector-9 {
  flex-shrink: 0;
  height: 3px;
  position: relative;
  overflow: visible;
}

.frame-359,
.frame-359 * {
  box-sizing: border-box;
}
.frame-359 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.frame-349 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 144px;
  position: relative;
}
.rounded-rectangle {
  border-radius: 9px;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  position: relative;
  object-fit: cover;
}
.frame-3222 {
  padding: 5px 0px 5px 0px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 500px;
  height: 50px;
  position: relative;
}
.adore-you {
  color: #ffffff;
  text-align: left;
  font-family: var(
          --text-na-pisni2-font-family,
          "SpaceGrotesk-Bold",
          sans-serif
  );
  font-size: var(--text-na-pisni2-font-size, 16px);
  font-weight: var(--text-na-pisni2-font-weight, 700);
  position: relative;
}
.frame-358 {
  display: flex;
  flex-direction: row;
  gap: 144px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-356 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 413px;
  height: 24px;
  position: relative;
}
.harry-styles {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  width: 330px;
}
.pop-rock {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  width: 83px;
}
.frame-357 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 90px;
  position: relative;
}
.icon-park-outline-like {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
._3-39 {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}

.second_first_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 26px;
    position: absolute;
    width: 1170px;
    height: 338px;
    left: 176px;
    top: 631px;
}

.third_first_container{
    /* Genre */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 26px;
    margin-top: 23px;
    position: absolute;
    width: 1170px;
    height: 312px;
    left: 176px;
    top: 1001px;
}

.playlist_container{
    /* Genre */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 26px;
    margin-top: 48px;
    position: absolute;
    width: 1170px;
    height: 732px;
    left: 176px;
    top: 1370px;
}

.trending_by_genre_container{
    /* Genre */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 26px;

    position: absolute;
    width: 1170px;
    height: 338px;
    left: 176px;
    top: 2109px;
}

.discover_new_songs_container{
    /* Genre */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 26px;
    margin-top: 22px;
    position: absolute;
    width: 1170px;
    height: 338px;
    left: 176px;
    top: 2479px;
}
.button_side_bar_right_container{
    position: absolute;
    height: 320px;
    right:0px;
    top:50px;
    width: 210px;
    align-items: flex-end;
    justify-items: flex-end;
    right:0px;
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
    background: linear-gradient(to right, transparent 0, #101010 70%);
}
.button_side_bar_left_container{
    position: absolute;
    height: 320px;
    top:50px;
    width: 210px;
    left:0px;
    align-items: flex-start;
    justify-items: flex-start;
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
    background: linear-gradient(to left, transparent 0, #101010 70%);
}
.button_side_bar_right{
    position: absolute;
    width: 72px;
    height: 72px;
    right:0px;
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
    background: linear-gradient(to right, transparent, black);
}
.button_side_bar_left {
    position: absolute;
    width: 72px;
    height: 72px;
    top:50px;
    left:0px;
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
}


.top_creators_container{
    /* Top_Creators */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    gap: 26px;

    position: absolute;
    width: 374px;
    height: 346px;
    left: 1370px;
    top: 235px;
}

.top_creators_top_text_container{
    /* Frame 26080069 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 12px;
    gap: 56px;

    width: 374px;
    height: 48px;

    background: linear-gradient(90deg, #5241B3 0%, rgba(16, 16, 16, 0) 79.81%);
    border-radius: 30px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.top_creators_creators_container{
    /* Frame 26080071 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 374px;
    height: 272px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}
.top_creator_container{
    /* Artist */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 24px;

    width: 374px;
    height: 56px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.top_creator_container{
    /* Artist */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 24px;

    width: 374px;
    height: 56px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}

.top_creators_numeration{
    /* 1. */

    width: 28px;
    height: 34px;

    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 34px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;

    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.top_creators_avatar_container{
    /* Ellipse 71 */

    width: 56px;
    height: 56px;
    border-radius: 50%; /* робимо круглим */
    overflow: hidden;
    object-fit: cover; /* картинка заповнює контейнер і обрізається */
    display: block;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}
.top_creators_author_container{
    /* ladygaga */

    width: 108px;
    height: 56px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    /* or 100% */
    display: flex;
    align-items: center;
    justify-content: center;

    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;

}
.top_creators_follow_button_container{
    /* Frame 26080067 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 32px;

    width: 109px;
    height: 44px;

    background: #5241B3;
    border-radius: 50px;

    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 0;


}
.top_creators_unfollow_button_container{
    /* Frame 26080067 */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 32px;

    width: 109px;
    height: 44px;

    border: 2px solid #5241B3;
    border-radius: 50px;

    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 0;

}

.recommended_for_you_container{
    /* Recommended */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    gap: 26px;
    position: absolute;
    width: 374px;
    height: 346px;
    left: 1370px;
    top: 605px;
}

.recommended_for_you_author_container{
    /* OneRepublic */

    width: 161px;
    height: 56px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    /* or 100% */
    display: flex;
    align-items: center;

    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

.recommended_for_you_follow_button_container{
    /* Frame 26080067 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 32px;

    width: 109px;
    height: 44px;

    background: #5241B3;
    border-radius: 50px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.history_container{
    /* History */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    gap: 26px;

    position: absolute;
    width: 374px;
    height: 346px;
    left: 1370px;
    top: 975px;
}
.history_track_image_container{
    /* Rectangle 55 */

    width: 56px;
    height: 56px;

    border-radius: 10px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.history_track_information_container{
    /* Frame 26080068 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 161px;
    height: 44px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}
.history_track_author{
    /* Derivakat */

    width: 161px;
    height: 16px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;

    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.history_track_title{
    /* Take Aim */

    width: 161px;
    height: 20px;

    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;

    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.history_buttons_container{
    /* Frame 26080084 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 24px;

    width: 96px;
    height: 36px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}
.history_like{
    /* ic:sharp-favorite-border */

    width: 36px;
    height: 36px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}
.history_add_info{
    width: 36px;
    height: 36px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.following_img_style{
    /* Ellipse 66 */

    width: 210px;
    height: 210px;

    border-radius: 50%;
    transform: matrix(-1, 0, 0, 1, 0, 0);

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.frame-1135,
.frame-1135 * {
  box-sizing: border-box;
}
.frame-1135 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-1104 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.popular-albums {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: relative;
}
.frame-1103 {
  display: flex;
  flex-direction: row;
  gap: 61px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-1102 {
  display: flex;
  flex-direction: row;
  gap: 9px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  position: relative;
}
.frame-441 {
  align-self: stretch;
  flex-shrink: 0;
  display: grid;
  gap: 30px;
  row-gap: 20px;
  position: relative;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-template-rows: repeat(2, fit-content(100%));
}
.frame-399 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  width: 231px;
  position: relative;
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
}
.frame-322 {
  background: #ffffff;
  border-radius: 20px;
  align-self: stretch;
  flex-shrink: 0;
  height: 230px;
  position: relative;
  overflow: hidden;
}
.image-35 {
  width: 231px;
  height: 231px;
  position: absolute;
  left: 0px;
  top: -1px;
  object-fit: cover;
  aspect-ratio: 1;
}
.frame-387 {
  align-self: stretch;
  flex-shrink: 0;
  height: 50px;
  position: relative;
}
.melo {
  color: #ffffff;
  text-align: left;
  font-family: var(--podpisi-font-family, "SpaceGrotesk-Regular", sans-serif);
  font-size: var(--podpisi-font-size, 20px);
  font-weight: var(--podpisi-font-weight, 400);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 231px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-385 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 231px;
  height: 18px;
  position: absolute;
  left: 0px;
  top: 32px;
}
._2026 {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --text-na-pisni-girni-font-family,
    "SpaceGrotesk-Medium",
    sans-serif
  );
  font-size: var(--text-na-pisni-girni-font-size, 14px);
  font-weight: var(--text-na-pisni-girni-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.mdi-dot {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.nicole-cherry {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --text-na-pisni-girni-font-family,
    "SpaceGrotesk-Medium",
    sans-serif
  );
  font-size: var(--text-na-pisni-girni-font-size, 14px);
  font-weight: var(--text-na-pisni-girni-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-400 {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: flex-end;
  justify-content: flex-start;
  width: 231px;
  position: relative;
  grid-column: 4 / span 1;
  grid-row: 2 / span 1;
}
.frame-323 {
  background: #ffffff;
  border-radius: 20px;
  align-self: stretch;
  flex-shrink: 0;
  height: 230px;
  position: relative;
  overflow: hidden;
}
.image-36 {
  width: 231px;
  height: 231px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
  aspect-ratio: 1;
}
.frame-388 {
  align-self: stretch;
  flex-shrink: 0;
  height: 50px;
  position: relative;
}
.before-i-forget {
  color: #ffffff;
  text-align: left;
  font-family: var(--podpisi-font-family, "SpaceGrotesk-Regular", sans-serif);
  font-size: var(--podpisi-font-size, 20px);
  font-weight: var(--podpisi-font-weight, 400);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 231px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.mdi-dot2 {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.the-kid-laroi {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --text-na-pisni-girni-font-family,
    "SpaceGrotesk-Medium",
    sans-serif
  );
  font-size: var(--text-na-pisni-girni-font-size, 14px);
  font-weight: var(--text-na-pisni-girni-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-401 {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: flex-end;
  justify-content: flex-start;
  width: 231px;
  position: relative;
  grid-column: 5 / span 1;
  grid-row: 2 / span 1;
}
.frame-324 {
  background: #ffffff;
  border-radius: 20px;
  align-self: stretch;
  flex-shrink: 0;
  height: 230px;
  position: relative;
  overflow: hidden;
}
.image-37 {
  width: 231px;
  height: 231px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
  aspect-ratio: 1;
}
.frame-389 {
  align-self: stretch;
  flex-shrink: 0;
  height: 50px;
  position: relative;
}
.div {
  color: #ffffff;
  text-align: left;
  font-family: var(--podpisi-font-family, "SpaceGrotesk-Regular", sans-serif);
  font-size: var(--podpisi-font-size, 20px);
  font-weight: var(--podpisi-font-weight, 400);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 231px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.mdi-dot3 {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.ptaszka {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --text-na-pisni-girni-font-family,
    "SpaceGrotesk-Medium",
    sans-serif
  );
  font-size: var(--text-na-pisni-girni-font-size, 14px);
  font-weight: var(--text-na-pisni-girni-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-402 {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: flex-end;
  justify-content: flex-start;
  width: 231px;
  position: relative;
  grid-column: 6 / span 1;
  grid-row: 2 / span 1;
}
.frame-325 {
  background: #ffffff;
  border-radius: 20px;
  align-self: stretch;
  flex-shrink: 0;
  height: 230px;
  position: relative;
  overflow: hidden;
}
.image-38 {
  width: 231px;
  height: 231px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
  aspect-ratio: 1;
}
.frame-390 {
  align-self: stretch;
  flex-shrink: 0;
  height: 50px;
  position: relative;
}
.with-all-due-respect {
  color: #ffffff;
  text-align: left;
  font-family: var(--podpisi-font-family, "SpaceGrotesk-Regular", sans-serif);
  font-size: var(--podpisi-font-size, 20px);
  font-weight: var(--podpisi-font-weight, 400);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 231px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.mdi-dot4 {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.kwn {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --text-na-pisni-girni-font-family,
    "SpaceGrotesk-Medium",
    sans-serif
  );
  font-size: var(--text-na-pisni-girni-font-size, 14px);
  font-weight: var(--text-na-pisni-girni-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-397 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  width: 231px;
  position: relative;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}
.frame-312 {
  background: #ffffff;
  border-radius: 20px;
  align-self: stretch;
  flex-shrink: 0;
  height: 230px;
  position: relative;
  overflow: hidden;
}
.image-28 {
  width: 231px;
  height: 231px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
  aspect-ratio: 1;
}
.frame-386 {
  align-self: stretch;
  flex-shrink: 0;
  height: 50px;
  position: relative;
}
.mixed-feeling {
  color: #ffffff;
  text-align: left;
  font-family: var(--podpisi-font-family, "SpaceGrotesk-Regular", sans-serif);
  font-size: var(--podpisi-font-size, 20px);
  font-weight: var(--podpisi-font-weight, 400);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 231px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.mdi-dot5 {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.minelli {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --text-na-pisni-girni-font-family,
    "SpaceGrotesk-Medium",
    sans-serif
  );
  font-size: var(--text-na-pisni-girni-font-size, 14px);
  font-weight: var(--text-na-pisni-girni-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-396 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  width: 231px;
  position: relative;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}
.image-29 {
  width: 231px;
  height: 231px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
  aspect-ratio: 1;
}
.indie-love {
  color: #ffffff;
  text-align: left;
  font-family: var(--podpisi-font-family, "SpaceGrotesk-Regular", sans-serif);
  font-size: var(--podpisi-font-size, 20px);
  font-weight: var(--podpisi-font-weight, 400);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 231px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.mdi-dot6 {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.bronza {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --text-na-pisni-girni-font-family,
    "SpaceGrotesk-Medium",
    sans-serif
  );
  font-size: var(--text-na-pisni-girni-font-size, 14px);
  font-weight: var(--text-na-pisni-girni-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-395 {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: flex-end;
  justify-content: flex-start;
  width: 231px;
  position: relative;
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
}
.image-30 {
  width: 231px;
  height: 231px;
  position: absolute;
  left: 0px;
  top: -1px;
  object-fit: cover;
  aspect-ratio: 1;
}
.siente-dance {
  color: #ffffff;
  text-align: left;
  font-family: var(--podpisi-font-family, "SpaceGrotesk-Regular", sans-serif);
  font-size: var(--podpisi-font-size, 20px);
  font-weight: var(--podpisi-font-weight, 400);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 231px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.mdi-dot7 {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.lowx {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --text-na-pisni-girni-font-family,
    "SpaceGrotesk-Medium",
    sans-serif
  );
  font-size: var(--text-na-pisni-girni-font-size, 14px);
  font-weight: var(--text-na-pisni-girni-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-394 {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: flex-end;
  justify-content: flex-start;
  width: 231px;
  position: relative;
  grid-column: 4 / span 1;
  grid-row: 1 / span 1;
}
.image-31 {
  width: 231px;
  height: 231px;
  position: absolute;
  left: 0px;
  top: -1px;
  object-fit: cover;
  aspect-ratio: 1;
}
.this-is-acting {
  color: #ffffff;
  text-align: left;
  font-family: var(--podpisi-font-family, "SpaceGrotesk-Regular", sans-serif);
  font-size: var(--podpisi-font-size, 20px);
  font-weight: var(--podpisi-font-weight, 400);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 231px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.mdi-dot8 {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.sia {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --text-na-pisni-girni-font-family,
    "SpaceGrotesk-Medium",
    sans-serif
  );
  font-size: var(--text-na-pisni-girni-font-size, 14px);
  font-weight: var(--text-na-pisni-girni-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-392 {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: flex-end;
  justify-content: flex-start;
  width: 231px;
  position: relative;
  grid-column: 5 / span 1;
  grid-row: 1 / span 1;
}
.image-32 {
  width: 231px;
  height: 231px;
  position: absolute;
  left: 0px;
  top: -1px;
  object-fit: cover;
  aspect-ratio: 1;
}
._516 {
  color: #ffffff;
  text-align: left;
  font-family: var(--podpisi-font-family, "SpaceGrotesk-Regular", sans-serif);
  font-size: var(--podpisi-font-size, 20px);
  font-weight: var(--podpisi-font-weight, 400);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 231px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.mdi-dot9 {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.gerega {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --text-na-pisni-girni-font-family,
    "SpaceGrotesk-Medium",
    sans-serif
  );
  font-size: var(--text-na-pisni-girni-font-size, 14px);
  font-weight: var(--text-na-pisni-girni-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-393 {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: flex-end;
  justify-content: flex-start;
  width: 231px;
  position: relative;
  grid-column: 6 / span 1;
  grid-row: 1 / span 1;
}
.frame-326 {
  background: #ffffff;
  border-radius: 20px;
  align-self: stretch;
  flex-shrink: 0;
  height: 230px;
  position: relative;
  overflow: hidden;
}
.image-33 {
  width: 231px;
  height: 231px;
  position: absolute;
  left: 0px;
  top: -1px;
  object-fit: cover;
  aspect-ratio: 1;
}
.frame-391 {
  align-self: stretch;
  flex-shrink: 0;
  height: 50px;
  position: relative;
}
.mdi-dot10 {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.the-curly {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --text-na-pisni-girni-font-family,
    "SpaceGrotesk-Medium",
    sans-serif
  );
  font-size: var(--text-na-pisni-girni-font-size, 14px);
  font-weight: var(--text-na-pisni-girni-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-398 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  width: 231px;
  position: relative;
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}
.image-34 {
  width: 231px;
  height: 231px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
  aspect-ratio: 1;
}
.locket {
  color: #ffffff;
  text-align: left;
  font-family: var(--podpisi-font-family, "SpaceGrotesk-Regular", sans-serif);
  font-size: var(--podpisi-font-size, 20px);
  font-weight: var(--podpisi-font-weight, 400);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 231px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.mdi-dot11 {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.madison-beer {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --text-na-pisni-girni-font-family,
    "SpaceGrotesk-Medium",
    sans-serif
  );
  font-size: var(--text-na-pisni-girni-font-size, 14px);
  font-weight: var(--text-na-pisni-girni-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-403 {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: flex-end;
  justify-content: flex-start;
  width: 231px;
  position: relative;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}
.image-39 {
  width: 231px;
  height: 231px;
  position: absolute;
  left: 0px;
  top: 1px;
  object-fit: cover;
  aspect-ratio: 1;
}
.mdi-dot12 {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.div2 {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --text-na-pisni-girni-font-family,
    "SpaceGrotesk-Medium",
    sans-serif
  );
  font-size: var(--text-na-pisni-girni-font-size, 14px);
  font-weight: var(--text-na-pisni-girni-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
