
.albumsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 26px;
    position: absolute;
    height: auto;
    left: 176px;
    top: 235px;
}

.sectionTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    gap: 687px;
    width: 1170px;
    height: 40px;
    border-radius: 30px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    color: #FFF;
    font-family: "Space Grotesk";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.albumsScroll{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 0px;
    isolation: isolate;
    gap: 16px;
    width: 100%;
    height: auto;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    max-width: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
}

.tracksScroll{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 0px;
    isolation: isolate;
    gap: 16px;
    width: 100%;
    height: auto;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    max-width: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
}

.trackCard{
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 12px;
    width: 210px;
    height: auto;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.albumCard{
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 12px;
    width: 210px;
    height: auto;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.trackImage{
    width: 210px;
    height: 210px;
    border-radius: 30px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.albumImage{
    width: 210px;
    height: 210px;
    border-radius: 30px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.trackInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 210px;
    height: 90px;
    flex: none;
    flex-grow: 0;
}

.albumInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 210px;
    height: 90px;
    flex: none;
    flex-grow: 0;
}

.trackTitle{
    width: 210px;
    height: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    display: block;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.albumTitle{
    width: 210px;
    height: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    display: block;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.trackArtist{
    width: 100%;
    height: 18px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    display: block;
    align-items: center;
    text-align: center;
    color: #C9D4FF;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.albumArtist{
    width: 100%;
    height: 18px;
    display: block;
    align-items: center;
    text-align: center;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    color: #FFF;
    font-family: "Space Grotesk";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.noveltyList,
.noveltyList * {
  box-sizing: border-box;
}
.noveltyList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 1528px;
  position: relative;
  font-family: "Baloo2", sans-serif;
}

.divider {
  flex-shrink: 0;
  height: 3px;
  position: relative;
  overflow: visible;
}

.trackItem,
.trackItem * {
  box-sizing: border-box;
}
.trackItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex: 1;
  position: relative;
}

.trackImageWrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 144px;
  position: relative;
}

.trackCover {
  border-radius: 9px;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  position: relative;
  object-fit: cover;
}

.trackHeader {
  padding: 5px 0px 5px 0px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 500px;
  height: 50px;
  position: relative;
}

.trackName {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: relative;
}

.trackMeta {
  display: flex;
  flex-direction: row;
  gap: 144px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.trackDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 413px;
  height: 24px;
  position: relative;
}

.trackArtistNovelt {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  width: 330px;
}

.trackGenre {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  width: 83px;
}

.trackActions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 90px;
  position: relative;
}

.likeIcon {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}

.trackDuration {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}

.noveltyContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 26px;
    position: absolute;
    width: 1170px;
    height: 338px;
    left: 176px;
    top: 631px;
    font-family: "Baloo2", sans-serif;
}

.thirdContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 26px;
    margin-top: 23px;
    position: absolute;
    width: 1170px;
    height: 312px;
    left: 176px;
    top: 1001px;
}

.playlistContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 26px;
    margin-top: 48px;
    position: absolute;
    width: 1170px;
    height: 732px;
    left: 176px;
    top: 1370px;
}

.trendingByGenreContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 26px;
    position: absolute;
    width: 1570px;
    height: 338px;
    left: 176px;
    top: 2109px;
}

.discoverNewSongsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 26px;
    margin-top: 22px;
    position: absolute;
    width: 1170px;
    height: 338px;
    left: 176px;
    top: 2820px;
}

.scrollButtonRight{
    position: absolute;
    height: 320px;
    right: 0px;
    top: 50px;
    width: 210px;
    align-items: flex-end;
    justify-items: flex-end;
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
    background: linear-gradient(to right, transparent 0, #101010 70%);
}

.scrollButtonLeft{
    position: absolute;
    height: 320px;
    top: 50px;
    width: 210px;
    left: 0px;
    align-items: flex-start;
    justify-items: flex-start;
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
    background: linear-gradient(to left, transparent 0, #101010 70%);
}

.scrollGrid{
    padding: 0px;
    isolation: isolate;
    gap: 24px;
    width: 100%;
    order: 1;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
}
