
.first_first_container{
    /* Genre */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 26px;

    position: absolute;
    /* width: 1170px; */
    height: auto;
    left: 176px;
    top: 235px;
       /* для кнопок */
}

.first_first_container_text{

    display: flex;

    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    gap: 687px;

    width: 1170px;
    height: 40px;

    /* background: linear-gradient(90deg, #5241B3 0%, #101010 50.48%); */
    border-radius: 30px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    color: #FFF;
    font-family: "Space Grotesk";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.first_first_container_album{
    display: flex;


    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 0px;
    isolation: isolate;
    gap:24px;
    width: 100%;
    height: auto;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.first_first_container_track{
    display: flex;


    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 0px;
    isolation: isolate;
    gap:24px;
    width: 100%;
    height: auto;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.first_first_container_album {
    display: flex;

    gap: 16px;
    padding-bottom: 0px;
    max-width: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
}
/* Контейнер горизонтального скролу */
.first_first_container_track {
    display: flex;

    gap: 16px;
    padding-bottom: 0px;
    max-width: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
}

.first_first_track{
    /* Frame 26080081 */
    flex: 0 0 auto;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 12px;

    width: 210px;
    height: auto;

    flex: none;
    order: 0;
    flex-grow: 0;

}
.first_first_album{
    /* Frame 26080081 */
    flex: 0 0 auto;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 12px;

    width: 210px;
    height: auto;

    flex: none;
    order: 0;
    flex-grow: 0;

}
.track_image_home_page{

    width: 210px;
    height: 210px;
    border-radius: 30px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.album_image_home_page{

    width: 210px;
    height: 210px;
    border-radius: 30px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.track_information_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;

    width: 210px;
    height: 90px;

    flex: none;
    flex-grow: 0;
}
.album_information_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;

    width: 210px;
    height: 90px;

    flex: none;
    flex-grow: 0;
}
.track_name{
    width: 210px;
    height: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    display: block;
    align-items: center;
    text-align: center;



    color: #FFFFFF;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.album_name{
    width: 210px;
    height: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    display: block;
    align-items: center;
    text-align: center;



    color: #FFFFFF;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.track_author_home_page{
    /* Imagine Dragons */
    width: 100%;
    height: 18px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    /* identical to box height, or 100% */
    display: block;
    align-items: center;
    text-align: center;
    color: #C9D4FF;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.album_author_home_page{
    /* Imagine Dragons */
    width: 100%;
    height: 18px;

    /* identical to box height, or 100% */
    display: block;
    align-items: center;
    text-align: center;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

    color: #FFF;

    /* podpisi */
    font-family: "Space Grotesk";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.frame-548,
.frame-548 * {
  box-sizing: border-box;
}
.frame-548 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 1624px;
  width: 1528px;
  position: relative;
  height: 50px;
}
.vector-9 {
  flex-shrink: 0;
  height: 3px;
  position: relative;
  overflow: visible;
}

.frame-359,
.frame-359 * {
  box-sizing: border-box;
}
.frame-359 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.frame-349 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 144px;
  position: relative;
}
.rounded-rectangle {
  border-radius: 9px;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  position: relative;
  object-fit: cover;
}
.frame-322 {
  padding: 5px 0px 5px 0px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 500px;
  height: 50px;
  position: relative;
}
.adore-you {
  color: #ffffff;
  text-align: left;
  font-family: var(
          --text-na-pisni2-font-family,
          "SpaceGrotesk-Bold",
          sans-serif
  );
  font-size: var(--text-na-pisni2-font-size, 16px);
  font-weight: var(--text-na-pisni2-font-weight, 700);
  position: relative;
}
.frame-358 {
  display: flex;
  flex-direction: row;
  gap: 144px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-356 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 413px;
  height: 24px;
  position: relative;
}
.harry-styles {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  width: 330px;
}
.pop-rock {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  width: 83px;
}
.frame-357 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 90px;
  position: relative;
}
.icon-park-outline-like {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
._3-39 {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}

.second_first_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 26px;
    position: absolute;
    width: 1170px;
    height: 338px;
    left: 176px;
    top: 631px;
}

.third_first_container{
    /* Genre */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 26px;
    margin-top: 23px;
    position: absolute;
    width: 1170px;
    height: 312px;
    left: 176px;
    top: 1001px;
}

.playlist_container{
    /* Genre */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 26px;
    margin-top: 48px;
    position: absolute;
    width: 1170px;
    height: 732px;
    left: 176px;
    top: 1370px;
}

.trending_by_genre_container{
    /* Genre */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 26px;

    position: absolute;
    width: 1570px;
    height: 338px;
    left: 176px;
    top: 2109px;
}

.discover_new_songs_container{
    /* Genre */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 26px;
    margin-top: 22px;
    position: absolute;
    width: 1170px;
    height: 338px;
    left: 176px;
    top: 2820px;
}
.button_side_bar_right_container{
    position: absolute;
    height: 320px;
    right:0px;
    top:50px;
    width: 210px;
    align-items: flex-end;
    justify-items: flex-end;
    right:0px;
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
    background: linear-gradient(to right, transparent 0, #101010 70%);
}
.button_side_bar_left_container{
    position: absolute;
    height: 320px;
    top:50px;
    width: 210px;
    left:0px;
    align-items: flex-start;
    justify-items: flex-start;
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
    background: linear-gradient(to left, transparent 0, #101010 70%);
}
.button_side_bar_right{
    position: absolute;
    width: 72px;
    height: 72px;
    right:0px;
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
    background: linear-gradient(to right, transparent, black);
}
.button_side_bar_left {
    position: absolute;
    width: 72px;
    height: 72px;
    top:50px;
    left:0px;
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
}

.first_first_container_palbum{
    padding: 0px;
    isolation: isolate;
    gap:24px;
    width: 100%;

    order: 1;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
}
